userSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/userSchema"
	xmlns:user="http://www.example.org/userSchema">


	<complexType name="userType">
		<sequence>
			<element name="name" type="string" />
			<element name="id" type="integer" />
		</sequence>
	</complexType>
</schema>
